*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    font-family: 'Roboto', sans-serif;
    color: white;

    --switch-bg1: url(/assets/universe.jpg);
    --switch-bg2: url(./assets/universe2.jpg);
    --switch-bg3: url(./assets/universe3.jpg);


}

html{
    min-height: 100%;
    background-image: var(--switch-bg1);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg1{
    background-image: var(--switch-bg1);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2{
    background-image: var(--switch-bg2);
    background-size: cover;
    background-repeat: no-repeat;

}

.bg3{
    background-image: var(--switch-bg3);
    background-size: cover;
    background-repeat: no-repeat;

    


}



header{
    display: flex;
    margin-left: 7.2rem;
    margin-top: 4rem;
    gap: 3.2rem;
   
}

header a{
    margin-top: 1rem;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;

    color: #C4C4CC;

    justify-content: center;
    font-weight: 700;
    font-size: 2.4rem;


    

}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page{
    display: grid;
    place-items: center;
    height: 100%;

   
    padding: 22.2rem;
    font-weight: 700;
    color: #E1E1E6;   
    
}


.title{
    display: flex;
    align-items: center;
    
    flex-direction: column;
   
    
}

.title h1{
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
    
    
}

.title button{
    padding: 1.2rem 3.2rem;

    background: transparent;

    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: .5rem;

    width: fit-content;
    font-weight: 700;
    cursor: pointer;
}

.title button:hover{
    background: rgb(153, 150, 150);
    color: #050505;
}

.universepage, .exploracaopage{
    padding: 22.2rem;
}

.universe1{
    display: flex;

    font-size: 4.8rem;
    margin-bottom: 2.4rem;

    
}

.universep{
    font-size: 1.8rem;
    color: #E1E1E6;
}


